PORT=3000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/riwimedicare_db

DB_CONTAINER_NAME=riwimedicare_db
POSTGRES_HOST_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=riwimedicare_db

DB_CPU_LIMIT=1.0
DB_MEM_LIMIT=512M

JWT_SECRET=your_jwt_secret_key_here
